
<div class="filters page-head">
  <div class="splide" id="filtersSlide" aria-label="Placeholder Example">
    <div class="splide__track">
      <ul class="splide__list">
        <li class="splide__slide filter-btn" data-id="all">
        <form  action="/explore">
          <input type="hidden" name="g" value="all">
         <button type="submit">All</buuton> 
        </form>
      </li>
        <% genres.forEach((genre) => {%>
          <li class="splide__slide filter-btn" data-id="<%= genre.title %>">
          <form   action="/explore">
            <input type="hidden" name="g" value="<%= genre.title %>">
           <button type="submit"><%= genre.title %></buuton> 
          </form>
        </li>
        
        <% }) %>
      </ul>
    </div>
  </div>
  <form  class="input-box" action="/explore">
    <input  class="search-input" name="q"  placeholder="Search your Pokemon" />
    <button type="submit" class="input-button" >
      <i class="fas fa-search"></i>
    </button>

  </form>
</div>
<section id="books-list">
   
    
   
      <div class="grid ">
        <% books.forEach((book) => {%>
        <div class="book-box" data-book-id="<%=book._id%>" >
          <div class="book-head space-b">
            <div class="info center" data-user-id="<%=book.user._id%>">
              <div class="s-img center">
                <i class="fa fa-user"></i>
              </div>
              <div class="username">
                <h5><%= book.user.username %></h5>
                <p class="s-p"><%= book.createdAt.toDateString() %></p>
              </div>
            </div>
  
            <% if(user) { %>
            <form class="saveBook" action="/user/save/<%= book.id %>" method="post">
              <button type="submit">
                <% if(user.saved.includes(book._id)){ %>
                <i class="fa fa-bookmark"></i>
                <% } else { %>
                <i class="far fa-bookmark"></i>
                <% } %>
              </button>
            </form>
            <% } %>
          </div>
  
          <div class="book-cover">
            <i class="fa fa-expand book-i"></i>
            <img src="<%= book.coverImage %>" />
          </div>
  
          <div class="content">
            <h3><%= book.title %></h3>
            <p><%= book.auther %></p>
          </div>
        </div>
  
        <% }) %>
      </div>
  
    </section>
  <script src="js/slide.js" type="module"></script>
  <script>
    const activeFilter = document.location.search.replace('?g=','').replace('+', " ")
    if(activeFilter.length > 1) {
      document.querySelector(`.filter-btn[data-id="${activeFilter}"]`).classList.add('active') 
    }

  </script>