<div class="page-head">
  <h2>Profile</h2>
</div>
<section>
   <div class="form">
    
    <form method="POST" id="profileForm" action="/user/edit/<%= user.id %>?_method=PUT" enctype="multipart/form-data" >
      
      <div class="center" style="gap:20px">
        <div class="image-box form-control center" >
          <div id="Image"  onclick="clickCover(this)" class="image-cont image-previw">
            <% if(user.userImage){ %>
              <img src="<%= user.userImage %>" alt="">
            <% } else { %>
            <i class="fa fa-user"></i>
            <% } %>
       
          </div>
          <input  type="file" accept="image/*" name="userImage" class="input" placeholder="user image" onchange="changeCover(this)"  id="id_userImage"  style="display: none;"/>
        </div>
        <div style="width: 100%;">
          <div class="form-control">
            <label for="id_username"> username :</label>
            <input type="text" name="username" autofocus="" value="<%= user.username %>" autocomplete="off" maxlength="150" 
              id="id_username" />
          </div>
          <div class="form-control">
            <label for="id_email"> email :</label>
            <input type="email" name="email" autofocus="" value="<%= user.email %>" autocomplete="off" maxlength="150" 
              id="id_email" />
          </div>
        </div>
        
      </div>
      
      
     
      <button type="submit" class="btn B">save</button>
    </form>
   </div>

   
</section>
<div class="page-head">
  <h2>Change Password</h2>
</div>
<section>
<div class="form">
  <form method="POST" id="passwordForm" action="/user/change-password/<%= user.id %>?_method=PUT" enctype="multipart/form-data" >
    
    <div class="form-control">
      <label for="id_old-password "> Old password :</label>
      <input type="password" name="oldPassword" autofocus="" autocomplete="off" maxlength="150" required=""
        id="id_old-password" />
    </div>
    <div class="form-control">
      <label for="id_new-password "> New password :</label>
      <input type="password" name="newPassword" autofocus="" autocomplete="off" maxlength="150" required=""
        id="id_new-password" />
    </div>
    <div class="form-control">
      <label for="id_confirm-password "> confirm password :</label>
      <input type="password" name="confirmPassword" autofocus="" autocomplete="off" maxlength="150" required=""
        id="id_confirm-password" />
    </div>
    <button type="submit" class="btn B">save</button>
  </form>
  
 </div>
</section>
